* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(#424646, #1c1818);
    flex-direction: column;
}

.container {
    border: solid 1px rgba(255, 255, 255, 0.2);
}

.title {
    text-align: center;
    position: relative;
    top: -150px; /* Lo sube */
    font-size: 40px;
    color: #fff;
}

table {
    color: #fff;
    font-size: 14px;
    table-layout: fixed;
    border-collapse: collapse;
}

thead {
    background: rgba(10, 10, 10, 0.4);
}

th {
    padding: 20px 15px ;
    font-weight: 700;
    text-transform: uppercase;
}

td {
    padding: 15px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}


tbody tr {
    cursor: pointer;
}

tbody tr:hover {
    background: rgba(255, 252, 254, 0.4);
}