<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Inicio</title>
</head>
<body>
    <h1>Bienvenido a Flask</h1>
    <a href="/listaRedes">Listar redes y conectarse a una</a>
    <a href="/listaDispositivos">Escanear Red</a>
    <a href="/tickets">Registro y seguimiento de fallas</a>
    <a href="/inven">Inventario</a>
    <a href="">Configuraciones</a>
    <a href="/planes">Planes de prevención y corrección</a>

</body>
</html>
